.main-header {
    display: flex;
    justify-content: space-between;
    /* padding: 2em var(--site-padding); */
    /* margin-top: 2em; */
}

.logo-title {
    font-weight: 600;
    font-size: 1.5rem;
    z-index: 1;
}